
 
 .contacti{
    margin-left: 20rem;
    overflow: hidden;

    .title {
        background-color: black;
        z-index: 10;
        box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        font-family: "Snell Roundhand, cursive";
        font-weight: 800;
        font-size: 5.2vw;
        text-transform: uppercase;
        .title-word {
            animation: color-animation 4s linear infinite;
          }
          
          .title-word-1 {

            --color-1: #D0F8FF;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            font-family: "Snell Roundhand, cursive";
            --color-2: black;
            --color-3: #D0F8FF;
          }
          
          .title-word-2 {
            --color-1: #D0F8FF;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            font-family: "Snell Roundhand, cursive";
            --color-2: #D0F8FF;
            --color-3:black;
          }
          
          .title-word-3 {
            --color-1: black;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            font-family: "Snell Roundhand, cursive";
            --color-2: #D0F8FF;
            --color-3: #D0F8FF;
          }
          
          .title-word-4 {
            --color-1: black;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            font-family: "Snell Roundhand, cursive";
            --color-2: #D0F8FF;
            --color-3: #D0F8FF;
          }
          .title-word-5 {
            --color-1: #D0F8FF;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            font-family: "Snell Roundhand, cursive";
            --color-2: #D0F8FF;
            --color-3: black;
          }
        
          .title-word-6 {
            --color-1: #D0F8FF;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            font-family: "Snell Roundhand, cursive";
            --color-2: black;
            --color-3: #D0F8FF;
          }
          .title-word-7 {
            --color-1: #D0F8FF;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            font-family: "Snell Roundhand, cursive";
            --color-2: black;
            --color-3: #D0F8FF;
          }
          
          
          @keyframes color-animation {
            0%    {color: var(--color-1)}
            32%   {color: var(--color-1)}
            33%   {color: var(--color-2)}
            65%   {color: var(--color-2)}
            66%   {color: var(--color-3)}
            99%   {color: var(--color-3)}
            100%  {color: var(--color-1)}
          }        
    }
  }
  
  
 
 .contact{
     width: max-content;
     display: flex;
     

     .left{
        box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 20px 20px 20px 20px rgba(0, 0, 0, 0.19);
        font-family: "Snell Roundhand, cursive";
         width: fit-content;
         font-size: large;
         display: flex;
         flex-direction: column;
         border-radius: 5px;
         padding: 20px;
         font-weight: 500;



         .name{
            font-family: "Snell Roundhand, cursive";

            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #D0F8FF;
           
         }
         .email{
            font-family: "Snell Roundhand, cursive";

            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #D0F8FF;
           
         }
         .subject{
            font-family: "Snell Roundhand, cursive";

            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #D0F8FF;
            
         }
         .message{
            font-family: "Snell Roundhand, cursive";

            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #D0F8FF;
           
         }
         .textarea{
            border-radius: 10px;
            font-family: "Snell Roundhand, cursive";
            width: 385px;
            height: 118px;
            resize: none;

         }
        
         .row{
            font-family: "Snell Roundhand, cursive";
            color: black;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: left;
            
         }
     }
     
 }
.rightt{
  color: #D0F8FF;
  
}