 
 .intro {
     background-color: white;
     display: flex;

     
     .left{
         flex: 0.5;
         overflow: hidden;


        }
       
        .container{
            display: flex;
            flex-direction: column;
            padding: 0;
            background-color: white;
            margin-top: 7em;
            margin-left: 7em;
            width: 50%;
            justify-content: center;
            text-align: center;
            font-size: 35px;
            font-weight: 200;
            color: cornflowerblue;
            .random{
                text-align: center;
                font-size: 15px;
                color: black;
            }
            &:hover{
                font-weight: 500;
                }
       
            
        } 
        .image{
            width: 1000px;
            height: 800px;
            box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            img{
                height: 80%;
                width: 57%;
                margin-right: 3.5rem;
                box-shadow: 20px;
            }
        }
    .right{
        flex: 0.5;
        .wrapper{
            margin-top: 15em;
            margin-left: 7em;
            ;
            h2{
                display: flex;
                font-size: 2.3em;
                

            }
        h1{
            font-size: 2.5em;
            color: cornflowerblue;    
        } 
        }
    }
 }